body {
	background-color: #CCCCFF; 
}
h2 {
	color: red ;
	text-align: left;
}
p {
	font-family: cursive;
	font-size: 20px;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }\
   
div.Stemex{ height: 50px; 
width: 40%; 


}